/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 20, 2020, 1:21:39 PM
    Author     : max
*/

@font-face {
font-family: "lkdown";  
src: url("fonts/lkdown.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}

