header {
	text-align: center;
}

body {
    font-family: Arial, "Times New Roman", sans-serif;
}

.logo {
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 8em;
    font-family: Arial sans-serif;
}


.menu {
    /*background-color: #212529;*/
    margin-bottom: 45px;
    height: 60px;
    padding: 10px;
}

.main {
    background: url(img/bar.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
    position: relative;
}

/* #next {
    padding-top: 100px;
    height: 100vh;
} */

/* .portfolio {
    background: url(img/IMG_0765.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
} */


.nav-menu {
	display: flex;
	justify-content: space-between;
}

.nav-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	/*border: 1px solid white;*/
    font-size: 30px;
}

.nav-link:hover {
    color: #000;    
}

.content-about {
	margin-top: 45px;
}

.about {
	text-align: center;
    color: #fff;
    margin-top: 200px;
    font-size: 20px;
}

.goto-portfolio {
    color: #000;
    font-size: 30px;
    background-color: #fff;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 20%;
}
.goto-start {
    color: #000;
    font-size: 30px;
    background-color: #fff;
    display: inline;
    position: absolute;
    top: 0;
    left: 20%;
}

.preview {
	height: 250px;
	width: 250px;
}

.portfolio-container {
    min-height: 100vh;
    position: relative;
}

.portfolio {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.album-name {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}


.body-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

label {
    text-align: center;
    text-transform: uppercase;
}


.auth {
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}

.btn {
    width: 100px;
    margin: 0 auto;
}

.error {
    color: #dc3545;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    
}

/*ADMIN TEMPlATE*/

aside {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

aside a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-top: 20px;
}

aside a:hover {
    color: #f1f1f1;
}

.admin-content {
    margin-left: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/*ADMIN MAIN PAGE*/

.btn-change {
    position: relative;
    left: 150px;
    top: 10px;
}

.form-change {
    margin: 0 auto;
}







